/*------------
To Do:
-hamburger menue needs to be white not grey
-hover color needs to be white
------------*/

	Table of Contents
	1. Layout
	2. Typography
	3. Navbar
	4. Family
	5. Interests



/* --------------------------------------
   1.Layout
   -------------------------------------- */

   #features {
   	text-align: center;
   }

   #features img {
   	margin: 0 0 20px;
   }

   #inputMessage {
   	margin-bottom: 15px;
   }
   footer {
   	background: #333;
   	color: #eee;
   	font-size: 11px;
   	padding: 20px;
   }


/* --------------------------------------
   Typography
   -------------------------------------- */


   body {
   	-webkit-font-smoothing: antialiased;
   	text-rendering: optimizelegibility;
   }
	.glyphicon {
	   font-family:'Glyphicons Halflings' !important;
	   // more css comes along here
	}
   .well .page-header {
   	margin-top: 0;
   }

   .well .page-header h1 {
   	margin-top: 0;
   }

   ul.unstyled {
   	list-style: none;
   	padding: 0;
   }

   h2.title{
   	margin:0;
   }
   h3.title{
   	margin:0;
   	font-size: 167%;
   }

/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   /*navbar background color*/
   .navbar {
      box-shadow: 0px 5px 20px #666666;
   	background: #4E9455;
   }

   .navbar-header>h3{
      color: #E0E0E0 !important;
      margin-top: 17px;
   }

   /*text color*/
   .navbar-nav>li>a{
   	color: #E0E0E0;
   }

   /*hover text color*/
   .navbar-nav>li>a:hover{
         color: #203D6C;
   }

   /*active text color*/
   .navbar-nav>.active>a{

   	color: #203D6C;
   }

   
   /*active tab color*/
   .navbar-nav>.active>a{
   	background-color:#B1D0B5;
      border: 1px solid #216C2A;

   }

   .navbar-toggle{
   	border: 1px solid #FFFFFF;
   	color: #FFFFFF;
   }

   @media (min-width: 768px){
   	.dropdown:hover .dropdown-menu {
   		display: block;
   	}
   }


/* --------------------------------------
   Family
   -------------------------------------- */
   
   .family {
   	background: #E0E0E0;
   	padding: 50px 0;
   	color: #203D6C;
   }

   .familyhr{
         width: 87%;
         border-top: 1px solid #203D6C;
   }


   

/* --------------------------------------
   State
   -------------------------------------- */
   .state{
      background: #216C2A;
   	padding: 50px 0;
      color: #E0E0E0
   }
   .state>.hr{
   	border-top: 2px solid #cccccc;
   }
   
/* --------------------------------------
   Expenses
   -------------------------------------- */
   .expenses{
	   background: #E0E0E0;
      padding: 50px 0;
      color: #203D6C;
   }

    .expenseshr{
         border-top: 1px solid #203D6C;
   }

   .accordion-toggle{
   		color:#ffffff;
   }
   a:hover{
   	color: #8D6736;
   	text-decoration: none;
   } 

   .familyicon{
      opacity: 0.85;
   }

   .familyicon:hover{
      opacity:1;
   }
   /* --------------------------------------
   Portfolio
   -------------------------------------- */
   .portfolio{
   	padding: 50px 0;
   }
   .portfolio>hr{
   	border-top: 1px solid #cccccc;
   }

